@media (max-width: 768px) {
    
    h1 {
        font-size: 2rem;
    }

    #cargo {
        font-size: 1rem;
    }

    .secao {
        box-sizing: border-box;
        width: 90%;
        margin: 20px;
        padding: 20px;
        overflow-x: hidden;
    }
    .secao p {
    width: 100%;
    }

    footer {
        flex-direction: column;
        gap: 15px;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
    }

    .menu button {
        width: 100%;
        padding: 10px;
    }
    
    .barra {
        width: 100%;
        max-width: 250px;
        height: 10px;
        background: #222;
        border-radius: 10px;
    }

    #habilidades li {
        list-style: none;
        margin-bottom: 20px;
        width: 100%;
    }

    :root {
    --preto: #0d1117;
    --ciano: #00d4ff;
    --ciano-hover: #00a8cc;
    --branco: #f5f5f5;
    --cinza: #161b22;
    }
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #f5f5f5;
    min-height: 100vh;
    overflow-x: hidden;

    background: 
        linear-gradient(
            90deg,
            transparent 0px,
            rgba(0, 212, 255, 0.03) 80px,
            transparent 160px
        ),
        radial-gradient(
            circle at center,
            #0f6cb0 0%,
            #083d66 35%,
            #021221 65%,
            #000000 100%
);

    min-height: 100vh;
}

header {
    text-align: center;
    padding: 60px;
    border-bottom: 2px solid #00d4ff;
}

#nome {
    text-shadow: 0 0 10px #00d4ff,
    0 0 20px #00d4ff;
    letter-spacing: 2px;
}

#nome,
#cargo {
    min-height: 1.2em;
    transition: opacity 0.3s ease;
}

#nome::after,
#cargo::after {
    content: "|";
    animation: piscar 1s infinite;
}

#texto-aprendizado::after {
    content: "|";
    animation: piscar 1s infinite;
}

@keyframes piscar {
    50% {
        opacity: 0;
    }
}

h1 {
    color: #00d4ff;
    text-shadow:
        0 0 10px rgba(0, 212, 255, 0.5),
        0 0 20px rgba(0, 212, 255, 0.3);
}


html {
    scroll-behavior: smooth;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 20px;
}

.menu button {

    width: 180px;
    display: inline-block;
    background: rgba(0, 212, 255, 0.08);
    color: #00d4ff;
    border: 1px solid #00d4ff;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.menu button:hover {
    background: #00d4ff;
    color: #00111f;
    box-shadow: 0 0 12px #00d4ff;
}

.menu button.ativo {
    background: #00d4ff;
    color: #00111f;
    box-shadow: 0 0 15px #00d4ff;
}

.secao {
    display: none;
    margin-top: 35px;
    padding: 25px 25px 25px 40px;
    text-align: left;
    background: rgba(0, 50, 50, 0.2);
    border-left: 3px solid #00d4ff;
    border-radius: 8px;
}

.secao.ativa {
    display: block;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translatey(0);
    }
}

#habilidades li {
    list-style: none;
    margin-bottom: 20px;
}

#habilidades i {
    width: 32px;
    height: 32px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    color: #00d4ff;

    box-shadow:
        0 0 8px rgba(0,212,255,.5);

    margin-right: 10px;
}

#certificacoes li {
    margin-bottom: 12px;
}

#certificacoes a {
    color: #00d4ff;
    text-decoration: none;
    padding: 3px 6px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

#certificacoes a:hover {
    background: rgba(0, 212, 255, 0.15);
    box-shadow: 0 0 10px rgba(0, 212, 255, 0.4);
}

.barra {
    width: 300px;
    height: 10px;
    background: #222;
    border-radius: 10px;
    margin-top: 5px;
}

.progresso {
    height: 100%;
    width: 0;
    border-radius: 10px;
    background: linear-gradient(
        90deg,
        #00d4ff,
        #fde6ff
    );

    box-shadow: 
    0 0 8px #00d4ff,
    0 0 15px rgba(0, 212, 255, 0.04)
    ;

    animation: preencher 2s ease-out forwards;
}

.progressohtml {
    --largura-final: 90%;
}

.progressocss {
    --largura-final: 90%;
}

.progressojs {
    --largura-final: 70%;
}

.progressophp {
    --largura-final: 60%;
}

.progressomysql {
    --largura-final: 70%;
}

@keyframes preencher {
    from {
        width: 0;
    }

    to {
        width: var(--largura-final);
    }
}

h2 {
    color: #00d4ff;
}

h3 {
    font-size: 1.3rem;
    font-weight: bold;
}

.card {
    background-color: #161b22;
    padding: 20px;
    border-left: 4px solid #00d4ff;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 40px;
    margin-top: 80px;
    border-top: 1px solid #00d4ff;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.redes a {
    color: #00d4ff;
    font-size: 2rem;
    transition: 0.3s;
}

.redes a:hover {
    transform: translateY(-5px);
    text-shadow: 0 0 15px #00d4ff;
}